.shop_index
  .shop_index_header
    = render "items/header"
  .shop_index_body
    .outview
      .image
        = image_tag "building.png", class: "buliding"
      .explain
        %h1芦屋市にあるあしや鍼灸接骨院では
        %span皆様が安心して通って頂ける空間の中で、一人でも多くの方が快適に過ごす事が出来るお体になって頂く事を目指す施術をさせて頂いております。
        %h1皆さまのお体の痛みに対応するのはもちろんの事、他院では分からなかった痛みの原因をとことん追求し、根源から取り除く本格的な根本治療を目指しております。


  .shop_index_footer
    = render "items/footer"