.item_index_footer
  .footer_all
    .footer_image
      = image_tag 'mitsuyama.png', class: "mitsu"
    .footer_items
      .shop
        %p三山接骨院について
      .book
        %p予約をこちらから
      .location
        %p所在地
      .staff
        %pスタッフ紹介
      .menu
        %p施術メニュー
      .review
        %p過去の施術事例