.item_index
  .item_index_header
    .image
      = image_tag 'kamome.png', alt:"", class: "img"
    .header_logo
      %h1みつやま接骨院
      %h2兵庫の何でも屋 腰痛 関節痛 筋肉痛 お任せください!!
  .item_index_body
    .item_image
      = image_tag 'massage.png', class: "setu"
      = image_tag 'ashitsubo.png' , class: "setu"
    .item_all
      .shop.btn
        %p三山接骨院について
      .book.btn
        %p予約をこちらから
      .location.btn
        %p所在地
      .staff.btn
        %pスタッフ紹介
      .menu.btn
        %p施術メニュー
      .review.btn
        %p過去の施術事例

  .item_index_footer
    .footer_all
      .footer_image
        = image_tag 'mitsuyama.png', class: "mitsu"
      .footer_items
        .shop
          %p三山接骨院について
        .book
          %p予約をこちらから
        .location
          %p所在地
        .staff
          %pスタッフ紹介
        .menu
          %p施術メニュー
        .review
          %p過去の施術事例