.item_index{
  width: 100vw;
  &_body{
    width: 100vw;
    height: 900px;
    .item_image{
      display: flex;
      justify-content: space-between;
      .setu{
        margin-left: 40px;
        margin-right: 40px;
        height: 300px;
        width: 300px;

      }
    }
    .item_all{
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin: auto;
      flex-wrap: wrap;
      .btn{
        border: 3px solid #009fe8;
        height: 250px;
        width: 250px;
        margin-top: 20px;
        font-size: 1.5em;
        .submit{
          display: block;
          color: #009fe8;
          font-weight: bold;
          text-align: center;
          padding-top: 100px;
          text-decoration: none;
        }
      }
      .btn:hover{
        background-color: #009fe8;
        .submit{
          color: #fff;
        }
      }
    }
  }
  &_footer{
    background-color: #009fe8;
    height: 300px;
    width: 100%;
    .footer_all{
      display: flex;
      justify-content: flex-start;
      .footer_image{
        .mitsu{
          height: 280px;
          width: 300px;
          margin-left: 50px;
        }
      }
      .footer_items{
        margin-left: 50px;
        width: 500px;
        p{
          flex-wrap: wrap;
          font-size: 1.5em;
          padding-top: 10px;
          color: #fff;
        }
      }
    }
  }
}